MPSBR/*.aux
MPSBR/*.bbl
MPSBR/*.blg
MPSBR/*.brf
MPSBR/*.fdb_latexmk
MPSBR/*.fls
MPSBR/*.idx
MPSBR/*.ilg
MPSBR/*.ind
MPSBR/*.log
MPSBR/*synctex.gz
MPSBR/*.toc

PMBOK/*.aux
PMBOK/*.bbl
PMBOK/*.blg
PMBOK/*.brf
PMBOK/*.fdb_latexmk
PMBOK/*.fls
PMBOK/*.idx
PMBOK/*.ilg
PMBOK/*.ind
PMBOK/*.log
PMBOK/*synctex.gz
PMBOK/*.toc
